 body {
    background-color: #FFFFFF;
  }


.main.container {
	margin-top: 7em;
}
.wireframe {
	margin-top: 2em;
}
.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}

td.noData {
	text-align: center !important;
	color: #999
}


ul.pagination { list-style: none; }
ul.pagination li { padding: 5px 12px; display: inline-block; border: 1px solid #ccc; border-radius: 5px }

.extGroup [role="addExt"] 				{ padding: 10px 5px 10px 12px; display: none;  }
.extGroup [role="addExt"]:last-child 	{ display: inline-block; }